body{
    background-image: url(./Diapo-5-Nota-de-blog.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size:cover;
    padding: 200´x;
}

h3{
    
    color: blueviolet;
    
}